/*(3)網頁中使用了 5 種不同的 CSS 語法所設計的特效*/
body{
    background-color: rgba(255, 127, 80, 0.646);
    text-align:center;
}
input{
    text-align:center;
}
button{
    padding:15px 0px; 
    margin-top:20px;
    background:rgba(212, 64, 15, 0.683);
    color:#fff;
    border:1px solid rgb(255, 255, 255);
    cursor:pointer;
    border-radius:3px;
    text-align:center;
}
input{
    width:100%;
    padding:10px 0px;
    margin-top:20px;
    border:none;
}
input::placeholder{
    opacity:0;
}
#result{
    width:100%;
    padding:10px 0px;
    margin-top:20px;
    border:none;
    background-color: rgba(210, 30, 27, 0.852);
    color:#fff;
    text-align:center;
}